{% extends "pages/base.html" %}
{% load static %}


{% block content %}
<br><br><br><br>

{% for product in products %}
<div class="card" style="width: 18rem;">
    <img src="{{product.image.url}}" class="card-img-top" alt="Product Image">
    <div class="card-body">
      <h5 class="card-title">{{</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'add' %}" class="btn btn-primary">Details</a>
    </div>
  </div>
  {% endfor %}
{% endblock  %}