@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
  background: #242526;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}

body{
background-color: #080710;
}
.background{
width: 430px;
height: 520px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
}
.background .shape{
height: 200px;
width: 200px;
position: absolute;
border-radius: 50%;
}
.shape:first-child{
background: linear-gradient(
    #1845ad,
    #23a2f6
);
left: -80px;
top: -80px;
}
.shape:last-child{
background: linear-gradient(
    to right,
    #ff512f,
    #f09819
);
right: -30px;
bottom: -80px;
}
form{
height: 820px;
width: 400px;
background-color: rgba(255,255,255,0.13);
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 50px 35px;
}
form *{
font-family: 'Poppins',sans-serif;
color: #ffffff;
letter-spacing: 0.5px;
outline: none;
border: none;
}
form h3{
font-size: 32px;
font-weight: 500;
line-height: 42px;
text-align: center;
}

label{
display: block;
margin-top: 30px;
font-size: 16px;
font-weight: 500;
}
input{
display: block;
height: 50px;
width: 100%;
background-color: rgba(255,255,255,0.07);
border-radius: 3px;
padding: 0 10px;
margin-top: 8px;
font-size: 14px;
font-weight: 300;
}
::placeholder{
color: #e5e5e5;
}
button{
margin-top: 50px;
width: 100%;
background-color: #ffffff;
color: #080710;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}
.social{
margin-top: 30px;
display: flex;
}
.social div{
background: red;
width: 150px;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgba(255,255,255,0.27);
color: #eaf0fb;
text-align: center;
}
.social div:hover{
background-color: rgba(255,255,255,0.47);
}
.social .fb{
margin-left: 25px;
}
.social i{
margin-right: 4px;
}


.container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.row{
  display: flex;
  gap: 20px;
}

.col-6{
  width: 50%;
}

.single-product{
  width: 1080px;
  position: relative;
}
/** Breadcrumb **/

.single-product .breadcrumb{
  background: #48484810;
  padding: 8px 4px;
  border-radius: 8px;
  font-size: 15px;
}

.breadcrumb span{
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 8px;
}
.breadcrumb span:not(:last-child)::after{
  content: '/';
}

.breadcrumb span a{
  text-decoration: none;
  color: var(--primary-color);
}

/** product image **/

.single-product .product-image{
  width: 100%;
}

.product-image .product-image-main{
  position: relative;
  display: block;
  height: 480px;
  background: var(--bg-grey);
  padding: 0px;
}

.product-image-main img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-image-slider{
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.product-image-slider img{
  width: 90px;
  height: 90px;
  background: var(--bg-grey);
  padding: 6px;
  cursor: pointer;
}

/** product title **/

.product-title{
  margin-top: 20px;

}
.product-title h2{
  font-size: 32px;
  line-height: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

/** product rating **/
.product-rating{
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
  align-items: center;
}

.product-rating span:not(:last-child){
  color: #ffc600;
}
.product-rating .review{
  color: var(--grey);
  font-size: 12px;
  font-weight: 500;
}
/** Product price **/
.product-price{
  display: flex;
  position: relative;
  margin: 10px 0;
  align-items: center;
}

.product-price .offer-price{
  font-size: 48px;
  font-weight: 700;
}
.product-price .sale-price{
  font-size: 22px;
  font-weight: 500;
  text-decoration: line-through;
  color: var(--grey);
  margin-left: 12px;
}

/** Product Details **/
.product-details{
  margin: 10px 0;
}
.product-details h3{
  font-size: 18px;
  font-weight: 500;
}
.product-details p{
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.2rem;
}

/** Product size **/
.product-size{
  margin: 10px 0;
}
.product-size h4{
  font-size: 16px;
  font-weight: 500;
}

.product-size .size-layout{
  margin: 5px 0;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.product-size .size-layout .size-input{
  display: none;
}
.product-size .size-layout .size{
  background: var(--bg-grey);
  padding: 10px 18px;
  border: 1px solid var(--bg-grey);
  border-radius: 4px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.product-size .size-layout .size:hover{
  border: 1px solid var(--grey);
}

.product-size .size-layout input[type="radio"]:checked + .size{
  background-color: rgb(35, 35, 35);
  border: 1px solid var(--grey);
  color: var(--bg-grey);
  box-shadow: 0 3px 6px var(--shadow);
 

}


/** Product Color **/
.product-color{
  margin: 10px 0;
  justify-content: center;
}
.product-color h4{
  font-size: 16px;
  font-weight: 500;
}
.product-color .color-layout{
  margin: 5px 0;
  display: flex;
  gap: 10px;
}

.product-color .color-layout label{
  border-radius: 4px;
  cursor: pointer;
  content: '';
  width: 40px;
  height: 40px;
  display: inline-block;
}

.product-color .color-layout .black{
  
  background-color: black;
}

.product-color .color-layout .red{
  background-color: red;
}
.product-color .color-layout .blue{
  background-color: blue;
}

.product-color .color-layout input[type="radio"]:checked + label{
  box-shadow: 0 3px 6px var(--shadow);
}

.product-color .color-layout .color-input{
  display: none;
}


/** divider **/
.divider{
  display: block;
  height: 1px;
  width: 100%;
  background: #48484830;
  margin: 20px 0;
}

/** product Button Group **/

.product-btn-group{
  display: flex;
  gap: 15px;
}
.product-btn-group .button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
}
.product-btn-group .buy-now{
  background-color: var(--accent-color);
  color: #fff;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}

.product-btn-group .buy-now i{
  font-size: 20px;
}
.product-btn-group .buy-now:hover{
  box-shadow: 0 3px 6px var(--shadow);
}

.product-btn-group .add-cart{
  
  background-color: var(--bg-grey);
  color: var(--grey);
  border-radius: 4px;
  cursor: pointer;
}
.product-btn-group .add-cart i{
  font-size: 20px;
}
.product-btn-group .add-cart:hover{
  box-shadow: 0 3px 6px var(--shadow);
  background: var(--grey);
  color: #fff;
}
.product-btn-group .heart{
  color: var(--grey);
  cursor: pointer;
}
.product-btn-group .heart i{
  font-size: 20px;
}
.product-btn-group .heart:hover{
  color: var(--accent-color);
}


/** Responsive Mobile **/
@media screen and (max-width:520px) {
  .container{
      padding: 20px;
      height: auto;
  }
  .row{
      display: block;
  }

  .col-6{
      width: 100%;
      display: block;
  }
  .single-product{
      width: 100%;
      position: relative;
  }

  .product-image .product-image-main{
      width: 100%;
      height: 280px;
  }
  .product-image-slider{
      gap: 5px;
  }

  .breadcrumb{
      display: none;
  }

  .product-title h2{
      font-size: 24px;
      line-height: 1.6rem;
  }
  .product-size{
      display: block;
  }
  .product-size .size-layout{
      display: block;
      margin: 10px 0;

  }
  .product-size .size-layout .size{
      padding: 6px 10px;
  }
  .product-btn-group{
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
}

/** Responsive Tablet **/
@media  (min-width: 520px ) and (max-width: 1080px) {
 .container{
  display: block;
  height: auto;
  padding: 20px;
 }
  
}

#invoice-POS{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 90mm;
  background: #FFF;
  
}
::selection {background: #f31544; color: #FFF;}
::moz-selection {background: #f31544; color: #FFF;}
h1{
  font-size: 1.5em;
  color: #222;
}
h2{font-size: .9em;}
h3{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
p{
  font-size: .7em;
  color: #666;
  line-height: 1.2em;
}
 
#tops, #mid,#bot{ /* Targets all id with 'col-' */
  border-bottom: 1px solid #EEE;
}

#top{min-height: 500px;}
#mid{min-height: 80px;} 
#bot{ min-height: 50px;}

#tops .logo{
  //float: left;
    height: 60px;
    width: 60px;
  
    background-size: 60px 60px;
}
.clientlogo{
  float: left;
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
    background-size: 60px 60px;
  border-radius: 50px;
}
.info{
  display: block;
  //float:left;
  margin-left: 0;
}
.title{
  float: right;
}
.title p{text-align: right;} 
table{
  width: 100%;
  border-collapse: collapse;
}
td{
  //padding: 5px 0 5px 15px;
  //border: 1px solid #EEE
}
.tabletitle{
  //padding: 5px;
  font-size: .5em;
  background: #EEE;
}
.service{border-bottom: 1px solid #EEE;}
.item{width: 24mm;}
.itemtext{font-size: .5em;}

#legalcopy{
  margin-top: 5mm;
}

  
  
}


.containerone{
  background-color: #f2f2f2;
  border: 1px solid rgb(226, 17, 17);
  border-radius: 4px;
  padding: 20px 10px 15px 20px;
}

p{
  font-size: 13px;
  text-align: right;
  margin-right: 15px;
}

div{
  margin: 10px;
}

.main-heading{
  color: white;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
select,textarea{
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type="submit"]{
  width: 100%;
  background-color: rgb(13, 163, 13);
  color: honeydew;
  font-size: 18px;
  padding: 12px 20px;
  margin: 10px 0px;
  border-radius: 7px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: rgb(7, 231, 7);
}

fieldset{
  background-color: white;
  border: 1px solid #cccccc;
  margin: 10px;
  font-size: 17px;
}

.Gender{
  font-size: 15px;
  font-weight: 500;
}

#visa{
  width: 65px;
}

#rupay{
  width: 95px;
  height: 56px;
}

#mastercard{
  width: 65px;
}